@import '../../../config-scss/rem-calc.scss';

$padding: rem-calc(20);

:host {
  width: 100%;
}

.listagem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem-calc(20);
  padding: $padding 0;

  .pokemon {
    position: relative;
    display: flex;
    background: var(--branco);
    
    height: rem-calc(125); 
    
    padding: $padding;
    border-radius: rem-calc(15);
    
    text-decoration: none;
    color: var(--primary-color);
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
    overflow: hidden;

    &:hover {
      transform: translateY(-5px);
    }

    &__status {
      z-index: 2;

      h2 {
        font-size: rem-calc(26); 
        font-style: italic;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: rem-calc(12);
      }

      ul {
        display: flex;
        flex-direction: column;

        li {
          background: var(--cinza);
          font-size: rem-calc(13);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: rem-calc(50);
          
          width: rem-calc(70); 
          height: rem-calc(22);
          margin-bottom: rem-calc(6);
          font-weight: 600;
        }
      }
    }

    &__image {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      
      height: rem-calc(100);
      width: rem-calc(120);
      
      right: rem-calc(10); 
      bottom: rem-calc(10); 

      background: url('../../../assets/bg/background-list-pokemons.svg') no-repeat;
      background-position: center;
      background-size: contain;
      
      img {
        width: rem-calc(70); 
      }
    }
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    .pokemon {
        height: rem-calc(130);
    }
  }
}