@import 'config-scss/reset.scss';
@import 'config-scss/variables.scss';
@import 'config-scss/rem-calc.scss';
@import 'config-scss/btn.scss';
@import 'config-scss/animation.scss';

body {
    background-color: #262835;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 rem-calc(20);
    box-sizing: border-box;
}